@import "tailwindcss";

@theme {
  --color-white: #e8e9eb;
  --color-black: #191716;
  --color-red: #a44a3f;
  --color-green: #3f6c51;
  --color-yellow: #ffba08;
  --color-dark-yellow: #ae8e1c;
  --color-purple: #a288e3;
}
